@page "{id:int}"
@model RazorPagesHirek.Pages.DetailsModel

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Article.Title);
}

<h1>@Html.DisplayFor(model => model.Article.Title)</h1>

<div>
    <hr />
    <p class="col-11">
        @Html.DisplayFor(model => model.Article.ArticleText)
    </p>
</div>
<div>
    <a asp-page="./Index">Vissza a Hírfolyamhoz</a>
</div>
