@page
@model RazorPagesHirek.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Hírfolyam</h1>

<p align="right">
    <a asp-page="Create">Új hír felvétele</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model.Article)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Title)</a>
                    @* try to display the number of comments: *@
                    @*<p>@item.Comments.Count()</p>*@
                </td>
            </tr>
        }
    </tbody>
</table>
